Repository googleapis/python-vision, pull requests merged in 2020-12, with the labels that each got.

#77 chore: fix flaky test by adding rerun
  samples/snippets/detect/detect_test.py
Labels: api: vision, cla: yes

#87 chore: exclude `.nox` from linting, update pre-commit, update py versions in CONTRIBUTING
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  google/cloud/vision_v1/__init__.py
  google/cloud/vision_v1p4beta1/__init__.py
  synth.metadata
Labels: api: vision, cla: yes, context: partial

#88 chore: reorder classes
  google/cloud/vision_v1/__init__.py
  synth.metadata
Labels: api: vision, cla: yes, context: none
