Repository googleapis/python-vision, pull requests merged in 2021-02, with the labels that each got.

#96 test: add 3.9 tests
  .github/header-checker-lint.yml
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .trampolinerc
  google/cloud/vision_v1p4beta1/__init__.py
  noxfile.py
  samples/snippets/crop_hints/noxfile.py
  samples/snippets/detect/noxfile.py
  samples/snippets/document_text/noxfile.py
  samples/snippets/face_detection/noxfile.py
  samples/snippets/product_search/noxfile.py
  samples/snippets/quickstart/noxfile.py
  samples/snippets/web/noxfile.py
  synth.metadata
Labels: api: vision, automerge, cla: yes, context: partial

#108 chore: update templates
  .kokoro/test-samples.sh
  .kokoro/trampoline_v2.sh
  CONTRIBUTING.rst
  MANIFEST.in
  google/cloud/vision_v1p4beta1/__init__.py
  synth.metadata
Labels: api: vision, cla: yes, context: partial

#78 chore: require samples checks
  .github/sync-repo-settings.yaml
Labels: api: vision, automerge, cla: yes, samples
